@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
  /* display:flex;
  flex-direction: column; */
  font-family:sans-serif;
  background-color: black;
}

body h1{
  font-size:1.5rem;
  font-family:'Roboto Condensed';
  color:#757575;
}
.inputfield{
position:relative;
top:50px;

}

.caption{
  margin:auto;
  width:80%;
  text-align:center;
}

.caption h1{
  color:white;
  padding:5px 0 0 0;
  border:0;
}

.caption p{
  color:#ffffff90;
  padding:0;
  border:0;
}

input{
  /* display:block; */
  width:70%;
  padding:20px 20px;
  border:none;
  background:#9fa4bd52;
  color:black;
  border-radius:0px;
  transition-property: initial;
  transition-duration:0.3s;
  transition-timing-function:ease;
  transition-delay:initial;
  border-sizing:border-box;
  /* margin:8px 0;
  box-sizing:border-box;
  border:4%;
  border-bottom:2px solid red; */
}

button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding:5px 15px 5px 15px;
}

.bookWrapper {

  width:700px;
  height:450px; //multiply by 1.3 to get proper height
  margin:auto;
  margin:5% auto 2% auto;
}
.bookBg {
  position:relative;
  background-color: #a1a8d0de;
  width:100%;
  height:100%;
  border-radius: 12px;
}
.centerClass {
  position:absolute;
  left:50%;
  top:50%;
}
.pageBg {
  background-color: #ffffff;
  width:652px;
  height:422px;
  border-radius: 0px;
}
.spineCenter {
  width:2px;
  height:422px;
  border-radius: 0px;
  background:rgba(101,101,101,.4);
}
.pageWrapper {
  position:relative;
  width:325px;
  height:422px;
  float: left;
  -webkit-font-smoothing:antialiased;
}
.pageFace {
  position:absolute;
  width:325px;
  height:422px;
  overflow:hidden;
  text-align: center;
}
.front {
  background: linear-gradient(to right,  #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);

}
.back {
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 92%,#f9f9f9 97%,#d9d9d9 100%);
}


.page {
  transition: all 0.8s ease 0s, z-index 0.6s ease 0s;
}

.page.paged {
  transform: translateX(-325px);
}

.page.previous{
  transform:translateX(+325px);
}

.button{
  margin:auto;
  border-color:#a27ee2;
  padding:10px 20px 10px 20px;
  background-color: black;
  color:white;
}

.footer{
  width:60%;
  margin:auto;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* width:20%; */
}

.search-button{
  width:30%;
  margin:auto;
  padding:15px;
  border-color:#a27ee2;
  border-width:0px;
  background-color:#a27ee2;
  color:white;
  font-size:1rem;
  width:120px;
}

.search-text{
  /* display:block; */
  margin:auto;
  position:relative;
  width:70%;
  padding:20px 20px;
  border:none;
  background:#9fa4bd52;
  color:black;
  border-radius:0px;
  transition-property: initial;
  transition-duration:0.3s;
  transition-timing-function:ease;
  transition-delay:initial;
  border-sizing:border-box;
  /* margin:8px 0;
  box-sizing:border-box;
  border:4%;
  border-bottom:2px solid red; */
}
/* .search{
  float:right;
  padding:6px 10px;
  margin-top:8px;
  margin-right:16px;
  background:#ddd;
  font-size:18px;
  border:none;
  curser:ponter;
} */
